<div class="row">

    <div class="col-md-4">

        <%= image_tag @movie.movie_img.url(:movie_show), class: "movie-show" %>

    </div>
    <div class="col-md-8">
        <div class="movie-info">
            <h2 class="movie-title"><%= @movie.title %></h2>
            <h3 class="movie-director"><span>From</span> <%= @movie.director %></h3>
            <div>
                <h5 class="avg-rating">Average rating</h5>
                    <div>
                        <% @reviews = @movie.reviews.average("rating").to_i.times do %>
                            <span class="glyphicon glyphicon-star"></span>
                        <% end %>
                    </div>
                        <span class="number-of-reviews">Based on <%= @movie.reviews.count %> reviews</span>
                <p class="movie-desc"><%= @movie.description %></p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-4">
        <div class="reviews">
            <h1>Reviews</h1>
            <%= render @movie.reviews %>

            <div>
                <%= link_to "Add Review", new_movie_review_path(@movie), class: "btn btn-custom"%>
            </div>
        </div>
    </div>
    
</div>

<div class="links btn-group">

    <%= link_to "Back", root_path, class: "btn btn-custom" %>

    <% if user_signed_in? %>

        <% if @movie.user_id == current_user.id %>

            <%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-custom" %>
            <%= link_to "Delete", movie_path(@movie), class: "btn btn-custom", method: :delete, data: { confirm: "Are you sure?" } %>

        <% end %>

    <% end %>
</div>
